# CODEOWNERS file
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/design @valentunn
/chains @valentunn @mikhail98
/database @valentunn @mikhail98

/scripts @valentunn
/config/detekt @valentunn
/bindings @valentunn
/tools/car-parser @valentunn
/tools/ipfs @valentunn
/tools/auth @mikhail98
/tools/backup @mikhail98 @valentunn
/tools/integrity @mikhail98
/tools/remoteconfig @mikhail98 @valentunn
/tools/jwt-auth @mikhail98 @valentunn
/tools/media-connection @valentunn

/feature/chats @valentunn
/feature/people @valentunn
/feature/fund @valentunn @mikhail98
/feature/statement-store @valentunn
/feature/videogame @valentunn
/feature/balances @valentunn @mikhail98
/feature/cross-chain-transfers @valentunn
/feature/become-citizen @valentunn
/feature/backup @valentunn @mikhail98
/feature/sso @valentunn
/feature/tokens @valentunn @mikhail98
/feature/transactions @valentunn @mikhail98
/feature/usernames @mikhail98 @valentunn
/feature/upgrade-username @mikhail98
/feature/vouchers @valentunn
/feature/wallet @mikhail98 @valentunn
/feature/xcm @valentunn
/feature/swap @valentunn
/feature/account @valentunn @mikhail98
/feature/transfers @valentunn
/feature/dotns @valentunn
/feature/revive @valentunn
/feature/products @valentunn
/feature/calls @valentunn
/feature/coinage @mikhail98 @valentunn
/feature/members @valentunn @mikhail98
/feature/pgas @valentunn
/feature/transaction-storage @valentunn
/feature/connection-status @valentunn @subhannaeem
/feature/device-sync @valentunn
